## 시퀀스 자료형(Sequence Types)

연속적으로 이어진 여러 값을 저장하는 기법.

4. 집합(Set)
```python
a = {1,2,3,4,5}
```

5. 사전(Dictionary)
```python
a = {"이름":"YJ", "나이":25}
```

---
## 1. 세트(Set)
- 수학의 집합 개념을 구현한 데이터 타입
- 데이터의 **순서가 없고** 데이터를 **중복해서 쓸 수 없음.**

In [2]:
# 세트 생성
set1 = {1,2,3,3}
print(set1)

# 빈 세트 만들기 a={} X
a = set()
type(a)

{1, 2, 3}

set

#### 교집합, 합집합, 차집합 함수
- 교집합 : intersection()
- 합집합 : union()
- 차집합 : difference()

In [29]:
A = {1,2,3,4,5}
B = {4,5,6,7,8,9,10}

# 교집합
print(A.intersection(B))
print(A&B)

# 합집합
print(A.union(B))
print(A|B)

# 차집합
print(A.difference(B))
print(A-B)

{4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}
{1, 2, 3}

#### list(), tuple(), set()을 이용해 서로 변환

In [32]:
a = [1,2,3,4,5]
print(type(a))

b = tuple(a)
print(type(b))

c = set(a)
print(type(c))

<class 'list'>
<class 'tuple'>
<class 'set'>

#### 세트 함수 사용

In [43]:
a = {1,2,3,4,5}

# 세트에 항목 추가 : add()
a.add(7)
print(a)

# 세트에 특정 항목을 삭제, 없으면 에러 : remove()
a. remove(3)
print(a)

# 세트에서 특정 항목을 삭제, 없으면 그냥 넘어감 : discard()
a.discard(8)
print(a)

# 세트에서 임의의 항목을 삭제하고 해당 항목을 반환 : pop()
a.pop()
print(a)

# 세트에서 모든 항목을 삭제 : clear()
a.clear()
print(a)

{1, 2, 3, 4, 5, 7}
{1, 2, 4, 5, 7}
{1, 2, 4, 5, 7}
{2, 4, 5, 7}
set()

---
## 2. 딕셔너리(Dictionary)
- 구성 : 키 + 값
- key : 임의의 지정한 숫자나 문자열
- value : 어떤 데이터 타입도 가능.

In [44]:
dict_name = {}
dict_name = dict()
dict_name = {"age" : 24, "name" : "YM"}

#### 딕셔너리 값 확인
- **슬라이싱 불가**

In [47]:
country_capital = {"영국" : "런던", "프랑스":"파리"}
print(country_capital)
print(country_capital["영국"])

{'영국': '런던', '프랑스': '파리'}
런던

#### 딕셔너리 다루기
- 데이터 추가
```py
country_capital["독일":"베를린"]
```
- 데이터 변경
```py
country_capital["프랑스":"몽블랑"]
```
- 데이터 삭제
```py
del country_capital["프랑스"]
```

#### 딕셔너리 함수 사용

In [1]:
fruit_code = {"사과": 101, "배":102, "딸기":103, "포도":104, "바나나":105}

# 딕셔너리에서 key전체를 리스트 형태로 변환 : key()
print(fruit_code.keys())

# 딕셔너리에서 값 전체를 리스트 형태로 변환 : values()
print(fruit_code.values())

# 딕셔너리에서 키와 값의 쌍을 튜플 형태로 반환
print(fruit_code.items())

# 딕셔너리 데이터 추가
fruit_code2 = {"오렌지": 106, "수박" : 107}
fruit_code.update(fruit_code2)
print(fruit_code.keys())

# 딕셔너리에서 특정 키의 값을 가져옴
print(fruit_code.get("사과"))

# 딕셔너리에서 특정키-값 쌍을 삭제한 뒤 값을 반환
print(fruit_code.pop("배"))
print(fruit_code.keys())

# 모든 항목 삭제
print(fruit_code.clear())

NameError: name 'fruit_code' is not defined